extends ../layouts/main-layout.pug

block styles

block content
	main
		if orders.length > 0
			ul
				each o in orders
					li
						h1 # #{o.id}
						ul
							each p in o.products
								li #{p.title} (#{p.orderItem.quantity})
		else
			h1 Nothing there!